/* FONT (From Google Fonts) */


@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');


/* BACKGROUND */


body {
background: url('https://battlecats.club/en/series/battlecats/img/top_img01.jpg') center center fixed;
background-size: cover;
background-repeat: no-repeat;
font-family: "Gluten", cursive; !important
    color: #572b05 !important;
}


body {
    color: #572b05;
}


/* Right Side Panel Background */

.container.main {
background: #ff890052;
border-style: none; !important
box-shadow: none;
border-radius: 20px;
border-color: #ffffff00;
}


/* Left Side Panel Background */

.col-md-9 {
background: #ffffff00;
border-right: none;
border-radius: 0px;
}


/* Top + Navigation Bars */

.topbar {
background: linear-gradient(180deg, #FD6E00, #FF8900);
border-style: solid;
border-width: 2px;
color: #c35500;
border-radius: 20px;
}


.navbar {
background: linear-gradient(180deg, #FD6E00, #ff890000);
border-bottom: none;
border-radius: 20px;
}


/* Navigation Bar Text & Background */

.navbar li a {
color: #A04F08 !important;
}

.navbar li a:hover {
background: #f7da5a !important;
transform: scale(1.2);
transition: all 0.5s ease-in-out 0.1s;
color: #643003 !important;
border-radius: 20px;
}


/* Home & Den Banner, Left Side Panel */


.breadcrumb {
background: #fadc848c !important;
border-style: none;
border-radius: 20px;
}

.breadcrumb .active {
color: #994301;
}



@media only screen and (max-width: 1199px) and (min-width: 992px) {
.breadcrumb::after {
right: 20%
}
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
.breadcrumb::after {
right: 20%
}
}


@media only screen and (max-width: 767px) {
.breadcrumb::after {
right: 22%
}
}


/* Bookmark / Switch Acc Button */


input.floatright, input.floatright:hover {
background: #AF7014 !important;
border: 2px !important;
border-style: none !important;
border-radius: 20px;
color: #FFCE00 !important;
}


button.button, button.button:hover {
background: #AF7014;
border: 2px !important;
border-style: none !important;
border-radius: 20px;
color: #FFCE00 !important;
}


/* Alerts (adjust later) */


.alert,
.alert-warning,
.alert-danger {
background: #b9d2d0f0 !important;
border: none;
color: #368da9;
border-radius: 20px !important;
}


/* Big Den Header + Second Den Header + Sidebar Headers */


h1 {
color: #ffffff;
font-size: 40px;
text-align: center;
font-family: "Gluten", cursive;
text-decoration: none;
}


h2 {
color: #ffffff;
font-size: 20px;
text-align: center;
text-decoration: none;
}


h3 {
color: #ffffff !important;
font-size: 18px !important;
}


/* Top code for sidebar border / bottom for boxes within sidebar (energy / game time / etc) */
.sidebar {
background-image: url(none); !important;
border: 1px solid #ffffff00 !important;
border-radius: 20px !important;
}


.panel {
background: url(https://i.postimg.cc/NjYgFYz8/Bg016.webp) !important;
border: 0px solid #e8eef600 !important;
background-position: center !important;
background-attachment: fixed !important;
background-size: 100% !important;
box-shadow: none !important;
border-radius: 10px !important;
}


/* Bar Background */
.progress {
background: #f2e0c4;
border-radius: 10px !important;
}


/* Individual Bar Colors */

.progress:nth-child(1) .progress-bar {
background-image: linear-gradient(to right, #FF8900 , #FFCE00);
border-radius: 25px !important
}
.progress:nth-child(2) .progress-bar {
background-image: linear-gradient(to right, #FF8900 , #FFCE00);
border-radius: 25px !important
}
.progress:nth-child(3) .progress-bar {
background-image: linear-gradient(to right, #FF8900 , #FFCE00);
border-radius: 25px !important
}
.progress:nth-child(4) .progress-bar {
background-image: linear-gradient(to right, #FF8900 , #FFCE00);
border-radius: 25px !important
}

.progress:nth-child(5) .progress-bar {
background-image: linear-gradient(to right, #FF8900 , #FFCE00);
border-radius: 25px !important
}


/* Bar Text */
.progress div {
color: #744a0c !important
}


/* Adds little icons on energ / achievements / etc boxes */

.col-xs-6 h3 .floatright {
content: url('https://static.wikitide.net/battlecatswiki/8/87/Gatyachara_001_f.png') !important;
position: absolute !important;
top: -36% !important;
left: 80% !important;
z-index: 1 !important;
margin-bottom: -40px;
}

div.col-xs-5> a:nth-child(1) > h3 > div {
content: url("https://static.wikitide.net/battlecatswiki/6/63/Gatyachara_002_f.png");
position: absolute;
left: 60%;
top: -65px !important;
z-index: 1;
transform: scaleX(-1);
}



div.col-xs-5> a:nth-child(3) > h3 > div {
content: url("https://static.wikitide.net/battlecatswiki/8/8d/Gatyachara_006_f.png");
position: absolute;
left: 50%;
top: 160px !important;
z-index: 1;
}


/* Comments Box (wip / rarely use) */

#commentBox {
background: url("https://battlecatsultimate.wiki.gg/images/thumb/Bg000.png/500px-Bg000.png?5864b5");
background-size: 70% !important;
border: 0px !important;}

div.comment {background: #ffffff00 !important;
border-bottom: 0px;
font-weight: bold;
color: #202020;}

div#makeComment {background: #f2cb8800 !important;
border: 0px;}

input#comment {background: #ffffffdb !important;
color: #202020 !important;}

small.text-muted {color: #e1a245;}
small.text-muted a {color: #ffffff;}

input[type="button"].bad {background: #e2514a !important;}


#commentBox::-webkit-scrollbar {
width: 5px;
height: 5px;
border-radius: 10px; 
}

#commentBox::-webkit-scrollbar-track {
background: #F2CB88;
border-radius: 10px;
}

#commentBox::-webkit-scrollbar-thumb {
background: #805B10;
border: 0px;
border-radius: 10px;
}


/* Chat CSS overrides */

.s-chat-message:nth-child(even) {
background: #e4a928e8;
color: #6f4609 !important;
}

.s-chat-message:nth-child(odd) {
background: #ffc92ae8;
color: #6f4609 !important;
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}


#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
background-color: #e86900 !important;
}

#fra_chatContainer .channelMenu .channelSwitcher {
color: #A04F08;
}

#fra_chatContainer .channelMenu .channelSwitcher:hover {
background: #f9bc75;
color: #A04F08;
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
background: #f9bc75;
color: #b06019;
}

#fra_chatContainer label {
color: #e86900;
}

.s-chat-popout {
background: #e86900;
}

.s-chat-message_claim {
background: #B9D2D0;
color: #1c7895;
}

.s-chat-message__trivia {
background-color: #B9D2D0 !important;
color: #1c7895 !important;
}

.s-chat-message__trivia a {
color: #1c7895 !important;
}

.s-chat-message__pinned /* Pinned Message */ {
	background: #AF7014 !important;
	border: none !important;
}


/* Lion Info Table Panel */


.table {
background: #ffffff;
background-image: url(nnone); !important;
background-attachment: fixed;
border: solid !important;
border-width: 0px !important;
border-collapse: separate;
border-radius: 30px
}


/* Lion Info Panel Headers */

.top,
.bottom,
th {
background: none !important;
border-radius: 30px
background-image: url(none) !important;
background-attachment: fixed;
}

td.bottom a {
text-decoration: none !important
}



/* Color inside lion info panel box */


.inner-table .left {
background: none !important;
color: #2e2e2e !important;
text-align: right;
border-radius: 0px
}


.inner-table .right {
background: none;
border-radius: 0px !important
}


td.right {
border-radius: 0px !important
}


.right_odd {
background: none !important
}


/* Changes color behind Unsorted, Caves, etc */


.cave-grid,
.mound-grid {
background: #ffffffe0;
border: solid !important;
border-width: 0px !important;
border-radius: 60px !important;
}


/* Feed All Play All */

.feature {
background: #ffffff00 !important;
color: #572b05 !important;
border: 0px solid #ffffff !important;
border-radius: 0px !important
}


/* Dynasty, Beetle Book, etc */


.feature,
div.left {
background: #ffffffe0;

border: none;
border-radius: 20px !important
}

div.col-md-3.col-sm-6.col-xs-6.mb-2.dynastylist {
width: 20%;}


img[src$="den_beetlebook.png"] {
background: url('https://static.wikitide.net/battlecatswiki/d/d7/GatyaitemD_21_f.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 40% !important;
background-position: 40% !important;
background-repeat: no-repeat !important;
}
img[src$="den_showcase.png"] {
background: url('https://static.wikitide.net/battlecatswiki/7/76/Cat_Food.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 40% !important;
background-position: 40% !important;
background-repeat: no-repeat !important;
}
img[src$="den_achievements.png"] {
background: url('https://static.wikitide.net/battlecatswiki/6/69/Talent_6.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 30% !important;
background-position: 40% !important;
background-repeat: no-repeat !important;
}
img[src$="den_ancestorsfem.png"] {
background: url('https://static.wikitide.net/battlecatswiki/e/ec/GatyaitemD_54_f.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 40% !important;
background-position: 40% !important;
background-repeat: no-repeat !important;
}
img[src$="den_ancestors.png"] {
background: url('https://static.wikitide.net/battlecatswiki/thumb/4/49/Lucky_capsule.png/120px-Lucky_capsule.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 30% !important;
background-position: 40% !important;
background-repeat: no-repeat !important;
}


/* Block of color behind Territory Description, etc*/


.table .left {
background: none;
border-radius: 0px;
}


input,
select,
textarea {
background: #8787874f !important;
border: none !important;
border-radius: 20px !important;
color: #393939 !important;
box-shadow: none !important;
text-shadow: none !important;
}



/* Copyright, Terms of Service, CoC, etc. */


div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
color: #000000 !important;
text-shadow: none !important;
}


/* Links */


a:link,
a:visited {
color: #373737 !important;

}


a:hover {
color: #000000 !important;
}


/* Scroll Bar Width, Backgound, Thumb */


::-webkit-scrollbar {
width: 10px;
}


::-webkit-scrollbar-track {
background: #F2CB88;
}


::-webkit-scrollbar-thumb {
background: #805B10;
border-radius: 10px;
}


/* Lion Icon + Avatar Opacity */

div#lion_image {
opacity: 1;
}


table#player img {
opacity: 0;
}


.table#player hr {
border-top-color: #00000000;
}


/* Shape of Lion + User Avatar */


div#lion_image {
content: url('https://i.redd.it/2tbzp6555ftd1.png') !important;
	border-radius: 30% !important;
	overflow: hidden;
	margin-top: 15px; 
	margin-left: 12px;

}


table#player img {
border-radius: 20% !important;
overflow: hidden;
}


/* Logo Replacer */


div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
content: url('https://i.postimg.cc/WpgtXsxV/how-strong-are-the-battle-cats-v0-f12f76q3co5e1-1-30.webp');
}


/* Cave + Mounds Pics */

img[src$="//static.lioden.com/images/layout/unsortedlionsbanner.png"] {
    content: url('https://i.postimg.cc/5261F5CP/Autumn-Athletics.png') !important;
}


img[src$="//static.lioden.com/images/layout/nestingbanner.png"] {
    content: url('https://i.postimg.cc/ZYHh7sFb/Battle-Cats-Zoom-Call.png') !important;
}


img[src$="//static.lioden.com/images/layout/prideoverviewbanner.png"] {
    content: url('https://i.postimg.cc/7L1xxH7Y/Gamatoto-and-Ototo.png') !important;
}


img[src$="//static.lioden.com/images/layout/cavedefault.jpg"] {
    content: url('https://i.postimg.cc/Qtxrhphf/Tanabata.png') !important;
}

.mound-grid img {
background: url("https://static.wikitide.net/battlecatswiki/thumb/8/81/EpicFruit.png/60px-EpicFruit.png");
width: 0;
height: 0;
padding-top: 80px;
padding-right: 100px;
background-size: cover !important;
}



/* pagedoll */
.container.main::after {
background-image: url('https://media.stickerswiki.app/shibapuppy/358753.512.webp');
background-size: cover;
position: fixed;
display: block;
height:250px;
width:300px;
right: 0px;
bottom: 0rem;
z-index: 100;
pointer-events:none;
}

.breadcrumb::after {
content: "Dasli best girl";
color: #e25249;
position: absolute;
font-size: 11px;
right: 20%;
z-index: 100
}


.credit {
	background: #9f4f5c;
	color: #fff3d9;
	padding: 1em;
	border: none;
	position: fixed;
	text-align: center;
	border-radius: 5px;
	left: 0px;
	bottom: 0px;
	width: 110px;
	height: 35px;
	opacity: 0.6;
  overflow: hidden;
  scrollbar-width: none;
  transition: width 1.5s, height 1.5s;
}

.credit:hover {
width: 110px;
height: 100px;
overflow: hidden;
word-wrap: break-word;
overflow: scroll;
transition: width 1.5s, height 1.5s;



.BOX {
display: flex;
justify-content: center;
align-items: center;
height: 100px;
margin: 50px;
background-color: #2a2a2a;
overflow: hidden;
border-radius: 10px !important;
}
.expanding-box:hover {
width: 500px;
height: 400px;
overflow:hidden;
word-wrap: break-word;
overflow: scroll;
border-radius: 10px !important;
}
.expanding-box {
width: 510px;
height: 56px;
overflow:hidden;
background-color: #ffce00eb;
transition: width 5.5s, height 5.5s;
border-radius: 10px !important;
}


/* Boxes show on mobile */


@media only screen and (max-width: 767px) {
.container.main .hidden-xs {
display: block !important;
}
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
display: block !important;
}


@media only screen and (min-width: 1200px) {
div.quote {
width: 790px;
}
}
