/* FONT (From Google Fonts) */


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(https://fonts.bunny.net/css?family=abril-fatface:400);


/* BACKGROUND */


body {
background: url('https://64.media.tumblr.com/9e301456e8db7a254d5d975b54cae092/d520b22d8b8d4538-3b/s1280x1920/781e03aac773e998e344f58b755d33bfda1be78c.png') center center fixed;
background-size: 30%;
background-repeat: repeat;
font-family: "Nunito", sans-serif !important;
    color: #ECF39E !important;
}


/* Right Side Panel Background */


.container.main {
background: #1a4301f2;
border-style: none !important;
border-radius: 10px !important;
box-shadow: none;
}


/* Left Side Panel Background */


.col-md-9 {
background: #ffffff00;
border-right: none;
border-radius: 10px !important;
}


.col-md-3 .panel {
    color: #ECF39E;
}


/* Top + Navigation Bars */


.topbar {
background: linear-gradient(180deg, #132A13, #4F772D);
border-style: none;
color: #ECF39E;
border-radius: 10px;
}


.navbar {
background: linear-gradient(180deg, #132A13, #4F772D);
border-radius: 10px;
font-family: 'Abril Fatface', display;
}



/* Navigation Bar Text & Background */


.navbar li a {
color: #7db34b !important;
}


.navbar li a:hover {
background: none !important;
color: #ccf1a0 !important;
transition: transform .2s;
transform: scale(1.2);
border-radius: 10px;
}


/* Home & Den Banner, Left Side Panel */


.breadcrumb {
background: #538d229e !important;
border-style: none;
border-radius: 20px;
}


.breadcrumb .active {
color: #ECF39E;
}



@media only screen and (max-width: 1199px) and (min-width: 992px) {
.breadcrumb::after {
right: 20%
}
}



@media only screen and (max-width: 991px) and (min-width: 768px) {
.breadcrumb::after {
right: 20%
}
}



@media only screen and (max-width: 767px) {
.breadcrumb::after {
right: 22%
}
}


/* Bookmark / Switch Acc Button */


.select-control,
a.button,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"]
{
	color: #ECF39E;
	border: 0px solid #ffffff;
    background: #4F772D;
	text-shadow: 1px 1px 0px #ffffff00;
	font-weight: bold;
	font-size: 13px;
	padding: 3px 12px;
	margin: 2px 0;
	border-radius: 15px;
}


.select-control:hover,
a.button:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover 
{
	color: #ECF39E;
	border: 0px solid #ffffff;
    background: #538D22;
	text-shadow: 1px 1px 0px #ffffff00;
	font-weight: bold;
	font-size: 13px;
	padding: 3px 12px;
	margin: 2px 0;
	border-radius: 15px;
}


/* Alerts (adjust later) */


.alert-danger {
text-align: left;
background-color: #a59250;
border-color: #ffffff00;
color: #584d25;
border-radius: 10px !important;
}

.alert-success {
text-align: left;
background-color: #b1e087;
border-color: #ffffff00;
color: #47873e;
border-radius: 10px !important;
}


/* Big Den Header + Second Den Header + Sidebar Headers */


h1 {
color: #0e1f0e;
font-size: 40px;
text-align: center;
font-family: 'Abril Fatface', display !important;
text-decoration: none;
}


h2 {
color: #0e1f0e;
font-size: 20px;
text-align: center;
text-decoration: none;
font-family: 'Abril Fatface', display !important;
}


h3 {
color: #0e1f0e !important;
font-size: 18px !important;
font-family: 'Abril Fatface', display !important;
}


/* Top code for sidebar border / bottom for boxes within sidebar (energy / game time / etc) */


.sidebar {
border: 0px solid #ffffff !important;
border-radius: 0px !important;
}


.panel {
background: linear-gradient(180deg, #132A13, #4F772D) !important;
border: 1px solid #132a13ba !important;
box-shadow: none !important;
border-radius: 10px !important;
}


/* Bar Background */
.progress {
background: #ECF39E;
border-radius: 10px !important;
}


/* Individual Bar Colors */


.progress:nth-child(1) .progress-bar {
background: #73A942;
border-radius: 25px !important;
}
.progress:nth-child(2) .progress-bar {
background: #90A955;
border-radius: 25px !important;
}
.progress:nth-child(3) .progress-bar {
background: #73A942;
border-radius: 25px !important;
}
.progress:nth-child(4) .progress-bar {
background: #90A955;
border-radius: 25px !important;
}
.progress:nth-child(5) .progress-bar {
background: #73A942;
border-radius: 25px !important;
}


/* Bar Text */
.progress div {
color: #143601 !important;
}


/* Adds little icons on energ / achievements / etc boxes */


.col-xs-6 h3 .floatright {
content: url('https://i.postimg.cc/yN2ZTVsX/di0ezuv-ac1593db-7c5c-4bac-aa46-344e771dafc1.png') !important;
position: absolute !important;
top: 35% !important;
left: -10% !important;
z-index: 1 !important;
margin-bottom: -40px;
transform: scaleX(1);
height: auto;
}



div.col-xs-5> a:nth-child(1) > h3 > div {
content: url("https://i.postimg.cc/Jz1cy4zk/di0f183-5ddb3956-380d-41f2-9547-46c4f3cf2935.png");
position: absolute;
left: 80%;
top: -10px !important;
z-index: 1;
transform: scaleX(-1);
height: auto;
}


/* Comments Box (wip / rarely use) */


#commentBox {
background: linear-gradient(180deg, #62a32c, #4F772D) !important;
border-radius: 10px !important;
border-color: #4f772dc9 !important;
}


div.comment {background: #ffffff00 !important;
border-bottom: 0px;
font-weight: bold;
color: #ECF39E;}


div#makeComment {background: #ffffff00 !important;
border-radius: 10px;
}


input#comment {background: linear-gradient(180deg, #62a32c, #4F772D) !important;
color: #ECF39E !important;}


small.text-muted {color: #31572C;}
small.text-muted a {color: #fafafa;}



input[type="button"].bad {background: #947c27 !important;}


#commentBox::-webkit-scrollbar {
width: 5px;
height: 5px;  
}

#commentBox::-webkit-scrollbar-track {
background: #aad576de;
border-radius: 20px;  
}


#commentBox::-webkit-scrollbar-thumb {
background: #31572ceb;
border-radius: 10px; 
}


/* Chat CSS overrides */


.s-chat-message:nth-child(even) {
background: #90A955;
color: #ECF39E !important;
}


.s-chat-message:nth-child(odd) {
background: #73A942;
color: #ECF39E !important;
}


.s-chat-message_timestamp /* Timestamps */ {
	color: 	#31572C !important;
}


#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
background-color: #ffffff !important;
}


#fra_chatContainer .channelMenu .channelSwitcher {
color: #b3bd46;
}



#fra_chatContainer .channelMenu .channelSwitcher:hover {
background: #538D22;
color: #AAD576;
}


#fra_chatContainer .channelMenu .channelSwitcher.active {
background: #538D22;
color: #AAD576;
}


#fra_chatContainer label {
color: #538D22;
}


.s-chat-popout {
background: #ffffff;
}


.s-chat-message_claim {
background: #947c27;
border-bottom: 1px none #ffffff;
color: #ffffff;
}


.s-chat-message__pinned /* Pinned Message */ {
	background: #ECF39E !important;
        color: 	#538D22 !important;
	border: none !important;
}


/* Lion Info Table Panel */


.table {
background: linear-gradient(180deg, #62a32c, #4F772D) !important;
border: solid #4f772dc9 !important;
border-width: 1px !important;
border-collapse: separate;
border-radius: 10px;
}


/* Lion Info Panel Headers */


.table .top, .table th {
background-color: #31572C;
padding: 8px 20px;
font-size: 15px;
font-weight: normal;
border-radius: 10px;
font-family: 'Abril Fatface', display;
}


.table .bottom {
text-align: center;
background-color: #31572C;
color: #ECF39E;
border-radius: 10px;
font-family: 'Abril Fatface', display;
}


/* Color inside lion info panel box */


.inner-table .left {
background: #4c722c !important;
color: #173c01 !important;
text-align: center;
border-radius: 10px !important;
font-family: "Nunito", sans-serif;
font-size: 12px;
}


.inner-table .right {
background: none;
border-radius: 0px !important;
text-align: center;
}

td.right {
border-radius: 0px !important;
}

.right_odd {
background: none !important;
}


/* Changes color behind Unsorted, Caves, etc */


.cave-grid,
.mound-grid {
background: linear-gradient(180deg, #62a32c, #4F772D);
border: solid !important;
border-width: 0px !important;
border-radius: 10px !important;
}


/* Feed All Play All */



.feature {
background: linear-gradient(180deg, #62a32c, #4F772D) !important;
color: 	#ECF39E !important;
border-style: none !important;
border-width: 0px; !important;
border-radius: 10px !important;
border-color: none !important;
}


/* Dynasty, Beetle Book, etc */


.feature,
div.left {
background: linear-gradient(180deg, #62a32c, #4F772D);
border-radius: 20px;
border: 1px solid #9f8cb985 !important;
}

div.col-md-3.col-sm-6.col-xs-6.mb-2.dynastylist {
width: 20%;}


img[src$="den_beetlebook.png"] {
background: url('https://i.postimg.cc/qBjdZrmX/dg460ml-af4e6cd2-1d6b-4dcb-93f2-88adc426c816.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 35% !important;
background-position: center !important;
background-repeat: no-repeat !important;
}
img[src$="den_showcase.png"] {
background: url('https://i.postimg.cc/qBjdZrmX/dg460ml-af4e6cd2-1d6b-4dcb-93f2-88adc426c816.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 35% !important;
background-position: center !important;
background-repeat: no-repeat !important;
}
img[src$="den_achievements.png"] {
background: url('https://i.postimg.cc/qBjdZrmX/dg460ml-af4e6cd2-1d6b-4dcb-93f2-88adc426c816.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 35% !important;
background-position: center !important;
background-repeat: no-repeat !important;
}
img[src$="den_ancestorsfem.png"] {
background: url('https://i.postimg.cc/qBjdZrmX/dg460ml-af4e6cd2-1d6b-4dcb-93f2-88adc426c816.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 35% !important;
background-position: center !important;
background-repeat: no-repeat !important;
}
img[src$="den_ancestors.png"] {
background: url('https://i.postimg.cc/qBjdZrmX/dg460ml-af4e6cd2-1d6b-4dcb-93f2-88adc426c816.png') !important;
width: 0;
height: 0;
padding-top: 80px !important;
padding-right: 30px;
background-size: 35% !important;
background-position: center !important;
background-repeat: no-repeat !important;
}


/* Block of color behind Territory Description, etc*/



.table .left {
background: none;
border-radius: 0px;
}


input,
select,
textarea {
background: #7db24de8 !important;
border: none !important;
border-radius: 20px !important;
color: #143601 !important;
box-shadow: none !important;
text-shadow: none !important
}


/* Copyright, Terms of Service, CoC, etc. */


.footer {
padding-top: 20px;
margin-bottom: 30px;
color: #ebffd3 !important;
}
.footer a:link, .footer a:visited, .footer a:active {
color: #ebffd3 !important;
border-bottom: 1px solid #ebffd3;
}


/* Links */


a:link, a:visited, a:active {
color: #132A13;
text-decoration: none;
font-weight: bold;
}
a:hover {
color: #000000;
text-decoration: none;
font-weight: bold;
}


/* Scroll Bar Width, Backgound, Thumb */


::-webkit-scrollbar {
width: 10px;
border-radius: 10px;
}



::-webkit-scrollbar-track {
background: #aad576de;
border-radius: 10px;
}



::-webkit-scrollbar-thumb {
background: #31572ceb;
border-radius: 10px;
}


/* Lion Icon + Avatar Opacity */

div#lion_image {
opacity: 1;
}


table#player img {
opacity: 0;
}


.table#player hr {
border-top-color: #00000000;
}

/* Shape of Lion + User Avatar */


div#lion_image {
	border-radius: 10% !important;
	overflow: hidden;
	margin-top: 15px; 
	margin-left: 12px;
}


table#player img {
border-radius: 20% !important;
overflow: hidden;
}


/* Logo Replacer */


div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
content: url('https://i.postimg.cc/L5wTJhVD/ddnrjvw-8d9928b1-28c6-40be-a1b8-07eb899a9780.png');
height: 90px;
}


/* Cave + Mounds Pics */


img[src$="//static.lioden.com/images/layout/unsortedlionsbanner.png"] {
    content: url('https://images.unsplash.com/photo-1517174780709-7ea39b5ce33e?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
    height: 220px;
}



img[src$="//static.lioden.com/images/layout/nestingbanner.png"] {
    content: url('https://images.unsplash.com/photo-1543459176-4426b37223ba?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
    height: 220px;
}



img[src$="//static.lioden.com/images/layout/prideoverviewbanner.png"] {
    content: url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
    height: 220px;
}



img[src$="//static.lioden.com/images/layout/cavedefault.jpg"] {
    content: url('https://images.unsplash.com/photo-1496309732348-3627f3f040ee?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
    height: 220px;
}




.mound-grid img {
background: url("https://images.unsplash.com/photo-1516528387618-afa90b13e000?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
width: 0;
height: 0;
padding-top: 100px;
padding-right: 100px;
background-size: cover !important;
border-radius: 12px;
}


.breadcrumb::after {
content: "CSS by doge fruit (#45943)";
color: #feffd5ba;
position: absolute;
font-size: 10px;
right: 3%;
z-index: 100;
}


.BOX {
display: flex;
justify-content: center;
align-items: center;
height: 100px;
margin: 50px;
background-color: #ffffff00;
overflow: hidden;
border-radius: 10px !important;
}
.expanding-box:hover {
width: 500px;
height: 400px;
overflow:hidden;
word-wrap: break-word;
overflow: scroll;
border-radius: 10px !important;
}
.expanding-box {
width: 510px;
height: 56px;
overflow:hidden;
background-color: #5d8158ed;
transition: width 5.5s, height 5.5s;
border-radius: 10px !important;
}


.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}


.block {
    background: #5d8158ed;
    width: 300px;
    height: 400px;
    border: 0px solid;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    padding: 10px;
  }
  .block2 {
    background: #5d8158ed;
    width: 250px;
    height: 200px;
    border: 0px solid;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    padding: 10px;
  }
  .block3 {
    background: #5d8158ed;
    width: 250px;
    height: 200px;
    border: 0px solid;
    border-radius: 10px;
    box-sizing: border-box;
    align-self: flex-end;
    margin-left: -255px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    padding: 10px;
  }


#block::-webkit-scrollbar {
   width: 10px;
   height: 10px;
   border-radius: 10px;
 }


#block::-webkit-scrollbar-track {
background: transparent; 
}


#block::-webkit-scrollbar-thumb {
background: transparent; 
}


#block::-webkit-scrollbar-thumb:hover {
background: transparent; 
}



.sidescrollers {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}


.scroll1{
  border: 0px;
  width: 350px;
  height: 200px;
  text-align: center;
  margin: 10px;
  background: #5d8158ed;
  border-radius: 15px;
  padding: 15px;
  overflow: auto;
}


.scroll2{
  border: 0px;
  width: 350px;
  height: 200px;
  text-align: center;
  margin: 10px;
  background: #5d8158ed;
  border-radius: 15px;
  padding: 15px;
  overflow: auto;
}

#sidescrollers::-webkit-scrollbar {
width: 0; 
background: transparent; 
}



/* Boxes show on mobile */



@media only screen and (max-width: 767px) {
.container.main .hidden-xs {
display: block !important;
}
}



@media only screen and (max-width: 991px) and (min-width: 768px) {
display: block !important;
}



@media only screen and (min-width: 1200px) {
div.quote {
width: 790px;
}
